<html>
  <body>
  <h1>Simple Echo & Chat Server</h1>
     <form id="form">
       <input type="text" id="user" value="Name"></input>
       <input type="text" id="input" value="send a message"></input>
       <input type="submit" value="Post" />
     </form>
     <div id="msgs"></div>
  </body>

  <script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

        var sender = function(f){
          var input     = document.getElementById('input');
          var username  = document.getElementById('user');
          var now       = new Date();
          input.onclick = function(){ input.value = "" };
          username.onclick = function(){ username.value = "" };
          f.onsubmit    = function(){
            ws.send(now.toTimeString() + " " + username.value + ': ' + input.value);
            input.value = "";
            return false;
          }
        }(document.getElementById('form'));
      })();
    }
  </script>
</html>
